body {
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: #fff;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.container {
  background-color: #1e1e1e;
  padding: 30px;
  border-radius: 10px;
  width: 300px;
  box-shadow: 0 0 15px #000;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.converter input,
.converter select,
.converter button {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
}

.converter select {
  width: 45%;
}

.dropdowns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  background-color: #03dac6;
  color: #000;
  font-weight: bold;
  cursor: pointer;
  margin-top: 15px;
}

#result {
  text-align: center;
  margin-top: 15px;
  font-size: 18px;
}
